@import "tailwindcss";

/* Light mode */
:root {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: "Inter", sans-serif;
  --font-mono: "Roboto Mono", monospace;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
